.homepage7 {
    height: 197px;
    left: 65px;
    position: absolute;
    top: 130px;
    width: 594px;
    background-image: url(./HomePage7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}