* {
    margin: 0;
    box-sizing: border-box;
}

.auth-form-register {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center ;
    justify-content: center;
    background: url(./login_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-form-register .wrapper {
    position: relative;
    width: 400px;
    height: 750px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.Register_form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.Register_form .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.9em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.Register_form .login-btn {
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 700;
}

.Register_form .login-btn:active {
    scale: 95%;
}

.Register_form .login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.Register_form .login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 700;
}

.Register_form .login-register a {
    cursor: pointer;
}

.Register_form .login-register p a:hover {
    text-decoration: underline;
}

