.homepage3 {
    height: 100%;
    left: 58%;
    object-fit: none;
    position: absolute;
    top: 58%;
    width: 38%;
    background-image: url(./HomePage3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}