.homepage2 {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 64%;
    background-image: url(./HomePage2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}